<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="https://kit.fontawesome.com/e3e4fb1593.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.png') }}" type="image/x-icon">
    {% block script %}
    
    {% endblock %}
    <title>{% block title %} Specific DNS {% endblock %}</title>
</head>

<body>

    <!-- Image and text -->
    <nav class="navbar navbar-light bg-warning">
        <a class="navbar-brand" href="{{ url_for('app.home') }}">
                <span class="text-muted">SPECIFIC DNS <i class="fas fa-server"></i></span>
        </a>
    </nav>

    <div class="container-fluid text-center" style="padding-top: 20px;">     

        {% block content %}

        {% endblock %}

    </div>
        
</body>
</html>